@using Microsoft.AspNetCore.Identity

@{ Layout = "_Layout"; ViewBag.Title = "Home";}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome Rocket Elevator's Management App</h1>
        <br />
        <p>Check out this page <a href="Home/Products">here</a> to see your current products!</p>
        <p>Or go straight to an Intervention form <a href="Home/Intervention">here</a>.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome Rocket Elevator's Management App</h1>
        <br />
        <p>Before continuing with our services, please register <a href="/Account/Register">here</a>.</p>
        <p>If you already have an account, then log in <a href="/Account/Login">here</a>.</p>
    </div>
}







