@{
    ViewData["Title"] = "Product management ";
}
<h1>@ViewData["Title"]</h1>





<h4 class=" text-cente mx-auto">Batteries</h4>
<p>You Can Fillout your intervention by clicling the item</p>
<br />

<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered m-2 col-md-3">
        <tbody>
            <tr>
            </tr>

        </tbody>

    </table>

</div>

<h4 class=" text-cente mx-auto">Columns</h4>
<p>You Can Fillout your intervention by clicling the item</p>
<br />

<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered m-2 col-md-3">
        <tbody>
            <tr>
            </tr>

        </tbody>

    </table>

</div>

<h4 class=" text-cente mx-auto">Elevators</h4>
<p>You Can Fillout your intervention by clicling the item</p>
<br />
<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered m-2 col-md-3">
        <tbody>
            <tr>


            </tr>

        </tbody>

    </table>

</div>


